
.Weather {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 5px solid rgb(99, 63, 96);
  padding: 15px;
  border-radius: 10px;
  color:rgb(42, 41, 41);
  background-color: rgba(115, 34, 96, 0.654);
}
.Weather form{
  margin: 15px;
}
.Weather h1 {
  font-size: 35px;
  font-weight: 100;
  line-height: 30px;
}
.Weather ul {
  padding:10px;
  margin:0 auto;
}
.Weather li {
  font-size: 25px;
  font-weight:400;
  line-height: 35px;
  list-style: none;
}
.Weather .infoButton{
  background-color: #012169;
  box-shadow: 4px 5px 14px 0px rgba(213, 206, 206, 0.53);
} 
.unit{
  font-weight: 500;
  line-height: 1;
}
@media(max-width:575px){
  .infoButton{
    margin-top: 15px;
  }
}


@media(max-width:520px){
  .Weather li{
    font-size: 18px;
  }
  .Weather h1{
    font-size:25px;
    text-align: center;
    font-weight: 300;
  }
  
}

